<!-- ******HEADER****** -->
<header id="header" class="header">
  <div class="container">
    <h1 class="logo pull-left">
      <a href="/">
        <span class="logo-title">{{ site.org_name }}</span>
      </a>
    </h1><!--//logo-->
    <nav id="main-nav" class="main-nav navbar-right" role="navigation">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button><!--//nav-toggle-->
      </div><!--//navbar-header-->
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          {% if site.twitter_username %}
          <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
          {% endif %}
          {% if site.facebook_username %}
          <li><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
          {% endif %}
          {% if site.instagram_username %}
          <li><a href="http://instagram.com/{{ site.instagram_username }}"><i class="fa fa-instagram"></i></a></li>
          {% endif %}
          {% if site.org_general_email_inbox %}
          <li class="last"><a href="mailto: {{ site.org_general_email_inbox }}"><i class="fa fa-envelope"></i></a></li>
          {% endif %}
          <li class="active nav-item sr-only"><a href="/#promo">Home</a></li>
          <li class="nav-item"><a href="/categories/index.html">Categories</a></li>
          <li class="nav-item"><a href="/tags/index.html">Tags</a></li>
          <li class="nav-item"><a href="/about.html#about">About</a></li>
          <li class="nav-item"><a href="/about.html#contact">Contact</a></li>
        </ul><!--//nav-->
      </div><!--//navabr-collapse-->
    </nav><!--//main-nav-->
  </div>
</header><!--//header-->
